<%= form_with(model: oenologist) do |form| %>
  <% if oenologist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(oenologist.errors.count, "error") %> prohibited this oenologist from being saved:</h2>

      <ul>
        <% oenologist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :dob, style: "display: block" %>
    <%= form.date_field :dob %>
  </div>

  <div>
    <%= form.label :nationality, style: "display: block" %>
    <%= form.text_field :nationality %>
  </div>

  <div class="nested-fields">
    <%= form.label :magazines %>
    <%= form.fields_for :magazine_oenologists do |ff|%>
      <%= render 'magazine_oenologists_fields', f: ff%>
    <% end %> 
  </div>

  <div>
    <%= link_to_add_association 'Add Job', form, :magazine_oenologists %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
