<div class="nested-fields">
    <div>
        <%= f.label :magazine %>
        <%= f.collection_select :magazine_id, @magazines, :id, :name, :prompt => "Choose an option:" %>
    </div>

    <div>
        <%= f.label :title %>
        <%= f.select :title, ['Editor', 'Writer', 'Reviewer'], :prompt => 'Choose an option:', class:"form-control"  %>
    </div>

    <div>
        <%= link_to_remove_association 'Delete job', f %>
    </div>

</div>