<div id="<%= dom_id wine %>">
  <p>
    <strong>Name:</strong>
    <%= wine.name %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= wine.score %>
  </p>

  <p>
   <strong>Strains:</strong>
    <% wine.wine_strains.each do |wine_spec|%>
      <li><%= wine_spec.strain.name %> (<%= wine_spec.percentage %> %)</li>
    <% end%>
  </p>
  <br>

  <p>
  <strong>Oenologist's ratings:</strong>
    <% wine.oenologist_wines.each do |wine_spec|%>
      <li><%= wine_spec.oenologist.name %> <%= wine_spec.rate %> % <br></li>
    <% end%>
  </p>
  

</div>
