<%= form_with(model: magazine_oenologist) do |form| %>
  <% if magazine_oenologist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(magazine_oenologist.errors.count, "error") %> prohibited this magazine_oenologist from being saved:</h2>

      <ul>
        <% magazine_oenologist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="nested-fields">
    <%= form.label :magazine %>
    <%= form.fields_for :magazine_oenologists do |ff|%>
      <%= render 'magazine_oenologist_fields', f: ff%>
    <% end %> 
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
